<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div id="messageModal" class="messageModal" role="dialog" style="display:none">
            <div>
              <span id= "messageSpan"></span>
            </div>
</div>
    <script>
           document.getElementById("messageModal").style.width = window.innerWidth * 0.15 + "px"
           document.getElementById("messageSpan").style.width = window.innerWidth * 0.15 + "px"
           document.getElementById("messageModal").style.height = window.innerHeight * 0.20 + "px"
           document.getElementById("messageSpan").style.height = window.innerHeight * 0.20 + "px"
           </script>
