<!DOCTYPE html>
<html lang="en">

<head>
    <title>CryptoFolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- C3 CSS -->
    <link href="c3-0.4.18/c3.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <!-- ===== NAVIGATION ===== -->
    <%- include partials/navbar.ejs %>

    <section id="market">

        <h1 class="display-3 text-center">Market</h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">Top 10 Ranked Cryptocurrencies:</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <td>Rank</td>
                                <td>Name</td>
                                <td>Symbol</td>
                                <td>Price (USD)</td>
                                <td>Market Cap (USD)</td>
                            </tr>
                        </thead>
                        <tbody class="table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

</body>

</html>
